USE [QLGA]
GO
/****** Object:  User [Long]    Script Date: 12/3/2020 3:17:28 PM ******/
CREATE USER [Long] FOR LOGIN [ThangLong] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [User123]    Script Date: 12/3/2020 3:17:28 PM ******/
CREATE USER [User123] FOR LOGIN [Login1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  UserDefinedFunction [dbo].[DateMax]    Script Date: 12/3/2020 3:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[DateMax](@thang int,@NV nvarchar(50))
returns Date
as
begin
	declare @date date
	select top 1 with ties @date=NgayBan from HoaDonBan hdb,NhanVien nv
	where hdb.MaNV=nv.MaNV and month(NgayBan)=@thang and nv.MaNV like @nv
	group by NgayBan
	order by sum(hdb.TongTien) desc
	return @date
end
GO
/****** Object:  UserDefinedFunction [dbo].[DoanhThu]    Script Date: 12/3/2020 3:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[DoanhThu](@thang int)
returns bigint
as
begin
	declare @dt int
	select @dt=sum(TongTien) from HoaDonBan
	where month(NgayBan)=@thang
	return @dt
end
GO
/****** Object:  UserDefinedFunction [dbo].[sumSLB]    Script Date: 12/3/2020 3:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[sumSLB]
(
	@thang int,
	@maBinh nvarchar(20)
)
returns int
as
begin
	declare @tong int
	select @tong=sum(SoLuong) from ChiTietHDB as ct,HoaDonBan as hdb
	where ct.SoHDB=hdb.SoHDB and month(hdb.NgayBan)=@thang and ct.MaBinh=@maBinh
	return @tong
end
GO
/****** Object:  Table [dbo].[BinhGa]    Script Date: 12/3/2020 3:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhGa](
	[MaBinh] [nvarchar](20) NOT NULL,
	[TenBinh] [nvarchar](50) NULL,
	[MaLoai] [nvarchar](20) NULL,
	[MaMau] [nvarchar](20) NULL,
	[MaKL] [int] NULL,
	[MaNSX] [nvarchar](20) NULL,
	[SoLuong] [int] NULL,
	[DonGiaNhap] [bigint] NULL,
	[DonGiaBan] [bigint] NULL,
	[ThoiGianBaoHanh] [int] NULL,
	[Anh] [image] NULL,
	[GhiChu] [nvarchar](255) NULL,
 CONSTRAINT [PK_BinhGa] PRIMARY KEY CLUSTERED 
(
	[MaBinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[D]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[D]
as
select * from BinhGa
GO
/****** Object:  View [dbo].[A]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[A]
as
select * from BinhGa
where ThoiGianBaoHanh=4
GO
/****** Object:  View [dbo].[LongCqewewewewe]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[LongCqewewewewe]
as
select * from BinhGa
where ThoiGianBaoHanh=4
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](20) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[NgaySinh] [date] NULL,
	[DienThoai] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[MaCa] [nvarchar](20) NULL,
	[MaCV] [nvarchar](20) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonBan]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonBan](
	[SoHDB] [nvarchar](20) NOT NULL,
	[MaNV] [nvarchar](20) NULL,
	[NgayBan] [date] NULL,
	[MaKH] [nvarchar](20) NULL,
	[TongTien] [bigint] NULL,
 CONSTRAINT [PK_HoaDonBan] PRIMARY KEY CLUSTERED 
(
	[SoHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[informStaff]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[informStaff]
(
	@date date
)
returns table
as 
return ( select NV.* from NhanVien as NV,HoaDonBan as hdb
where hdb.MaNV=NV.MaNV and NgayBan=@date)
GO
/****** Object:  Table [dbo].[ChiTietHDB]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHDB](
	[SoHDB] [nvarchar](20) NOT NULL,
	[MaBinh] [nvarchar](20) NOT NULL,
	[SoLuong] [int] NULL,
	[GiamGia] [int] NULL,
	[ThanhTien] [bigint] NOT NULL,
 CONSTRAINT [PK_ChiTietHDB] PRIMARY KEY CLUSTERED 
(
	[SoHDB] ASC,
	[MaBinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Top3TongDoanhThuMax8_2020]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Top3TongDoanhThuMax8_2020]
as
select nv.MaNV,nv.TenNV,sum(nv.Doanhthu) as Doanhthu1,nv.NgayBan  from(
	 select r.MaNV,r.TenNV,sum(r.TongTien) as Doanhthu,r.NgayBan ,ROW_NUMBER() over (partition by r.MaNV order by
		 sum(TongTien) desc ) rownum from
	 (
		 select nv.MaNV,nv.TenNV,TongTien,hdb.NgayBan
 
		 from NhanVien nv, ChiTietHDB ct,HoaDonBan hdb
		 where nv.MaNV=hdb.MaNV and hdb.SoHDB=ct.SoHDB and month(NgayBan)='11' and year(NgayBan)='2020'
		 group by nv.MaNV,nv.TenNV,hdb.NgayBan,TongTien
	) r
	group by r.MaNV,r.TenNV,r.NgayBan
) nv where rownum<=3
group by nv.MaNV,nv.TenNV,nv.NgayBan
GO
/****** Object:  View [dbo].[TongDoanhThuTungThang2020CuaALLNV]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[TongDoanhThuTungThang2020CuaALLNV]
as
select * from (
	select  a.MaNV,a.TenNV,thang,DoanhThu from (
			select top(1000) nv.MaNV,nv.TenNV, 
			month(hdb.NgayBan) as thang
			,sum(ThanhTien) as DoanhThu
			from NhanVien nv,HoaDonBan hdb,ChiTietHDB ct
			
			where nv.MaNV=hdb.MaNV and hdb.SoHDB=ct.SoHDB and year(hdb.NgayBan)='2020' 
			group by nv.MaNV,nv.TenNV,hdb.NgayBan,TongTien
			order by nv.MaNV
	) as a
) src

pivot (sum(DoanhThu) for thang in ([1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12])) piv
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](20) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DienThoai] [nvarchar](20) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[KHSoLanMuaNhieuNhat]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[KHSoLanMuaNhieuNhat]
as
select top 1 with ties kh.*,count(hdb.SoHDB) as SoLan from KhachHang kh,HoaDonBan hdb
where kh.MaKH=hdb.MaKH and MONTH(hdb.NgayBan)=11 and YEAR(hdb.NgayBan)=2020
group by kh.MaKH,kh.TenKH,kh.DiaChi,kh.DienThoai
order by count(hdb.SoHDB) desc
GO
/****** Object:  View [dbo].[Top10KHCoTongDoanhThuMax8_2020_SoLanMuaMax]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Top10KHCoTongDoanhThuMax8_2020_SoLanMuaMax]
as
SELECT top 1 with ties DTMax.*
FROM 
(
    SELECT TOP 10 kh.*,sum(TongTien) as TongTien
    FROM KHACHHANG kh,HoaDonBan hdb
    WHERE kh.MaKH=hdb.MaKH
	group by kh.MaKH,kh.TenKH,kh.DiaChi,kh.DienThoai
    ORDER BY sum(TongTien) DESC
) as DTMax,HoaDonBan hdb
WHERE DTMax.MaKH=hdb.MaKH
GROUP BY DTMax.MaKH,DTMax.TenKH,DTMax.DiaChi,DTMax.DienThoai,DTMax.TongTien
order by count(hdb.SoHDB) desc
GO
/****** Object:  View [dbo].[thongkehangthang]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[thongkehangthang]
as
SELECT ThongKe.*,sss.TotalAmount
FROM
(
    SELECT cthdb.MaBinh,ss.TenBinh,
           DATENAME(MONTH, NgayBan) [Month],
           SUM(cthdb.SoLuong) [SLB Duoc]
    FROM dbo.ChiTietHDB cthdb,
         dbo.HoaDonBan hdb,dbo.BinhGa ss
    WHERE cthdb.SoHDB = hdb.SoHDB AND ss.MaBinh = cthdb.MaBinh
          AND YEAR(hdb.NgayBan) = 2020
    GROUP BY cthdb.MaBinh,ss.TenBinh,
             DATENAME(MONTH, hdb.NgayBan)
) AS MonthlyData
PIVOT
(
    SUM([SLB Duoc])
    FOR Month IN ([January], [Febuary], [March], [April], [May], [June], [July], [August], [September], [October],
                  [November], [December]
                 )
) AS ThongKe LEFT JOIN
(
    SELECT MaBinh,
           SUM(SoLuong) AS TotalAmount
    FROM dbo.ChiTietHDB ,dbo.HoaDonBan
	WHERE dbo.ChiTietHDB.SoHDB = dbo.HoaDonBan.SoHDB AND YEAR(NgayBan) = 2020
    GROUP BY MaBinh
) AS sss
ON sss.MaBinh = ThongKe.MaBinh;
GO
/****** Object:  View [dbo].[Cau2]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Cau2]
as
select * from (
	select  a.MaNV,a.TenNV,thang,DoanhThu from (
			select top(1000) nv.MaNV,nv.TenNV, 
			month(hdb.NgayBan) as thang
			,sum(ThanhTien) as DoanhThu
			from NhanVien nv,HoaDonBan hdb,ChiTietHDB ct
			
			where nv.MaNV=hdb.MaNV and hdb.SoHDB=ct.SoHDB and year(hdb.NgayBan)='2020' 
			group by nv.MaNV,nv.TenNV,hdb.NgayBan,TongTien
			order by nv.MaNV
	) as a
) src

pivot (sum(DoanhThu) for thang in ([1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12])) piv
GO
/****** Object:  View [dbo].[SPtheoNV]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[SPtheoNV]
as
select nv.MaNV,bg.MaBinh,bg.TenBinh,bg.MaLoai,bg.MaMau,bg.MaKL,bg.MaNSX,bg.DonGiaBan,bg.DonGiaNhap,bg.Anh,bg.GhiChu
from BinhGa as bg,HoaDonBan as hdb, ChiTietHDB as cthdb,NhanVien as nv
where bg.MaBinh=cthdb.MaBinh and cthdb.SoHDB=hdb.SoHDB and hdb.MaNV=nv.MaNV
GO
/****** Object:  Table [dbo].[CaLam]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLam](
	[MaCa] [nvarchar](20) NOT NULL,
	[TenCa] [nvarchar](50) NULL,
 CONSTRAINT [PK_CaLam] PRIMARY KEY CLUSTERED 
(
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHDN]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHDN](
	[SoHDN] [nvarchar](20) NOT NULL,
	[MaBinh] [nvarchar](20) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [bigint] NULL,
	[GiamGia] [int] NULL,
	[ThanhTien] [bigint] NULL,
 CONSTRAINT [PK_ChiTietHDN] PRIMARY KEY CLUSTERED 
(
	[SoHDN] ASC,
	[MaBinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongViec]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongViec](
	[MaCV] [nvarchar](20) NOT NULL,
	[TenCV] [nvarchar](50) NULL,
 CONSTRAINT [PK_CongViec] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonNhap]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonNhap](
	[SoHDN] [nvarchar](20) NOT NULL,
	[MaNV] [nvarchar](20) NULL,
	[NgayNhap] [date] NULL,
	[MaNCC] [nvarchar](20) NULL,
	[TongTien] [bigint] NULL,
 CONSTRAINT [PK_HoaDonNhap] PRIMARY KEY CLUSTERED 
(
	[SoHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoiLuong]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoiLuong](
	[MaKL] [int] NOT NULL,
 CONSTRAINT [PK_KhoiLuong] PRIMARY KEY CLUSTERED 
(
	[MaKL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiGa]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiGa](
	[MaLoai] [nvarchar](20) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiGa] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mau]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mau](
	[MaMau] [nvarchar](20) NOT NULL,
	[TenMau] [nvarchar](50) NULL,
 CONSTRAINT [PK_Mau] PRIMARY KEY CLUSTERED 
(
	[MaMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [nvarchar](20) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DienThoai] [nvarchar](20) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NuocSX]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NuocSX](
	[MaNSX] [nvarchar](20) NOT NULL,
	[TenNSX] [nvarchar](50) NULL,
 CONSTRAINT [PK_NuocSX] PRIMARY KEY CLUSTERED 
(
	[MaNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[Status] [int] NOT NULL,
	[Quyen] [nvarchar](20) NULL,
	[TenNguoiDung] [nvarchar](30) NULL,
	[Email] [nvarchar](100) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BinhGa] ([MaBinh], [TenBinh], [MaLoai], [MaMau], [MaKL], [MaNSX], [SoLuong], [DonGiaNhap], [DonGiaBan], [ThoiGianBaoHanh], [Anh], [GhiChu]) VALUES (N'B0', N'Petro', N'L0', N'M0', 12, N'NSX0', 9, 12000, 13200, 1, NULL, N'')
INSERT [dbo].[BinhGa] ([MaBinh], [TenBinh], [MaLoai], [MaMau], [MaKL], [MaNSX], [SoLuong], [DonGiaNhap], [DonGiaBan], [ThoiGianBaoHanh], [Anh], [GhiChu]) VALUES (N'B1', N'Totalgaz1', N'L1', N'M0', 13, N'NSX0', 5, 12000, 13200, 2, NULL, N'')
GO
INSERT [dbo].[CaLam] ([MaCa], [TenCa]) VALUES (N'Ca0', N'Ca Sáng')
INSERT [dbo].[CaLam] ([MaCa], [TenCa]) VALUES (N'Ca1', N'Ca Chiều')
INSERT [dbo].[CaLam] ([MaCa], [TenCa]) VALUES (N'Ca2', N'Ca Tối')
GO
INSERT [dbo].[ChiTietHDB] ([SoHDB], [MaBinh], [SoLuong], [GiamGia], [ThanhTien]) VALUES (N'HDB2122020_081758', N'B0', 5, 0, 82500)
INSERT [dbo].[ChiTietHDB] ([SoHDB], [MaBinh], [SoLuong], [GiamGia], [ThanhTien]) VALUES (N'HDB2122020_081758', N'B1', 3, 0, 39600)
INSERT [dbo].[ChiTietHDB] ([SoHDB], [MaBinh], [SoLuong], [GiamGia], [ThanhTien]) VALUES (N'HDB2122020_084037', N'B1', 3, 0, 39600)
GO
INSERT [dbo].[ChiTietHDN] ([SoHDN], [MaBinh], [SoLuong], [DonGia], [GiamGia], [ThanhTien]) VALUES (N'HDN2122020_024137', N'B0', 1, 10000, 0, 10000)
INSERT [dbo].[ChiTietHDN] ([SoHDN], [MaBinh], [SoLuong], [DonGia], [GiamGia], [ThanhTien]) VALUES (N'HDN2122020_024212', N'B1', 2, 10000, 0, 20000)
INSERT [dbo].[ChiTietHDN] ([SoHDN], [MaBinh], [SoLuong], [DonGia], [GiamGia], [ThanhTien]) VALUES (N'HDN2122020_080713', N'B0', 2, 11000, 0, 22000)
GO
INSERT [dbo].[CongViec] ([MaCV], [TenCV]) VALUES (N'CV0', N'Thu ngân')
INSERT [dbo].[CongViec] ([MaCV], [TenCV]) VALUES (N'CV1', N'Giao hàng')
GO
INSERT [dbo].[HoaDonBan] ([SoHDB], [MaNV], [NgayBan], [MaKH], [TongTien]) VALUES (N'HDB2122020_081758', N'NV3', CAST(N'2020-12-02' AS Date), N'KH1', 122100)
INSERT [dbo].[HoaDonBan] ([SoHDB], [MaNV], [NgayBan], [MaKH], [TongTien]) VALUES (N'HDB2122020_084037', N'NV3', CAST(N'2020-12-02' AS Date), N'KH3', 63800)
INSERT [dbo].[HoaDonBan] ([SoHDB], [MaNV], [NgayBan], [MaKH], [TongTien]) VALUES (N'HDB2122020_084159', N'NV3', CAST(N'2020-12-02' AS Date), N'KH4', 11000)
GO
INSERT [dbo].[HoaDonNhap] ([SoHDN], [MaNV], [NgayNhap], [MaNCC], [TongTien]) VALUES (N'HDN2122020_024137', N'NV3', CAST(N'2020-12-02' AS Date), N'NCC0', 10000)
INSERT [dbo].[HoaDonNhap] ([SoHDN], [MaNV], [NgayNhap], [MaNCC], [TongTien]) VALUES (N'HDN2122020_024212', N'NV3', CAST(N'2020-12-02' AS Date), N'NCC0', 20000)
INSERT [dbo].[HoaDonNhap] ([SoHDN], [MaNV], [NgayNhap], [MaNCC], [TongTien]) VALUES (N'HDN2122020_080713', N'NV3', CAST(N'2020-12-02' AS Date), N'NCC0', 43600)
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [DienThoai]) VALUES (N'KH1', N'Trần Thăng Long', N'53/79 Cầu Giấy - Hà Nội', N'0965518362')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [DienThoai]) VALUES (N'KH3', N'Nguyễn Văn A', N'222 Cầu Giấy - Hà Nội', N'0789456132')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [DienThoai]) VALUES (N'KH4', N'Bùi Thị B', N'85 Nguyễn Khang - Cầu Giấy - Hà Nội', N'0965813624')
GO
INSERT [dbo].[KhoiLuong] ([MaKL]) VALUES (12)
INSERT [dbo].[KhoiLuong] ([MaKL]) VALUES (13)
INSERT [dbo].[KhoiLuong] ([MaKL]) VALUES (14)
GO
INSERT [dbo].[LoaiGa] ([MaLoai], [TenLoai]) VALUES (N'L0', N'Petrolimex')
INSERT [dbo].[LoaiGa] ([MaLoai], [TenLoai]) VALUES (N'L1', N'Totalgaz')
INSERT [dbo].[LoaiGa] ([MaLoai], [TenLoai]) VALUES (N'L2', N'Shell')
GO
INSERT [dbo].[Mau] ([MaMau], [TenMau]) VALUES (N'M0', N'Đỏ')
INSERT [dbo].[Mau] ([MaMau], [TenMau]) VALUES (N'M1', N'Xanh lục')
INSERT [dbo].[Mau] ([MaMau], [TenMau]) VALUES (N'M2', N'Xanh da trời')
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC0', N'Công ty PetroVietNam', N'Cầu Giấy - Hà Nội', N'0966666666')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC1', N'Công ty Totalgaz VietNam', N'Thanh Xuân - Hà Nội', N'0966666555')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC2', N'Công ty PetrolimexVietNam', N'a', N'0966666666')
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DienThoai], [DiaChi], [MaCa], [MaCV]) VALUES (N'NV1', N'Cao Quang Long', N'Nam', CAST(N'2000-10-20' AS Date), N'0123456798', N'Hai Bà Trưng - Hà Nội', N'Ca0', N'CV1')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DienThoai], [DiaChi], [MaCa], [MaCV]) VALUES (N'NV2', N'Trịnh Thị Trang', N'Nữ', CAST(N'2000-10-10' AS Date), N'0987523145', N'Ba Đình - Hà Nội', N'Ca1', N'CV0')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DienThoai], [DiaChi], [MaCa], [MaCV]) VALUES (N'NV3', N'Trần Thị Loan', N'Nữ', CAST(N'2000-06-02' AS Date), N'0985214632', N'Đống Đa - Hà Nội', N'Ca2', N'CV0')
GO
INSERT [dbo].[NuocSX] ([MaNSX], [TenNSX]) VALUES (N'NSX0', N'Việt Nam')
INSERT [dbo].[NuocSX] ([MaNSX], [TenNSX]) VALUES (N'NSX1', N'Thái Lan')
INSERT [dbo].[NuocSX] ([MaNSX], [TenNSX]) VALUES (N'NSX2', N'Trung Quốc')
GO
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau], [Status], [Quyen], [TenNguoiDung], [Email]) VALUES (N'labc', N'abcabc', 1, N'user', N'ah', N'abc@gmail.com')
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau], [Status], [Quyen], [TenNguoiDung], [Email]) VALUES (N'long', N'longca', 1, N'admin', N'Thang Long', N'long@gmail.com')
GO
ALTER TABLE [dbo].[BinhGa]  WITH CHECK ADD  CONSTRAINT [FK_BinhGa_KhoiLuong] FOREIGN KEY([MaKL])
REFERENCES [dbo].[KhoiLuong] ([MaKL])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[BinhGa] CHECK CONSTRAINT [FK_BinhGa_KhoiLuong]
GO
ALTER TABLE [dbo].[BinhGa]  WITH CHECK ADD  CONSTRAINT [FK_BinhGa_LoaiGa] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiGa] ([MaLoai])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[BinhGa] CHECK CONSTRAINT [FK_BinhGa_LoaiGa]
GO
ALTER TABLE [dbo].[BinhGa]  WITH CHECK ADD  CONSTRAINT [FK_BinhGa_Mau] FOREIGN KEY([MaMau])
REFERENCES [dbo].[Mau] ([MaMau])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[BinhGa] CHECK CONSTRAINT [FK_BinhGa_Mau]
GO
ALTER TABLE [dbo].[BinhGa]  WITH CHECK ADD  CONSTRAINT [FK_BinhGa_NuocSX] FOREIGN KEY([MaNSX])
REFERENCES [dbo].[NuocSX] ([MaNSX])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[BinhGa] CHECK CONSTRAINT [FK_BinhGa_NuocSX]
GO
ALTER TABLE [dbo].[ChiTietHDB]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDB_BinhGa] FOREIGN KEY([MaBinh])
REFERENCES [dbo].[BinhGa] ([MaBinh])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHDB] CHECK CONSTRAINT [FK_ChiTietHDB_BinhGa]
GO
ALTER TABLE [dbo].[ChiTietHDB]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDB_HoaDonBan] FOREIGN KEY([SoHDB])
REFERENCES [dbo].[HoaDonBan] ([SoHDB])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHDB] CHECK CONSTRAINT [FK_ChiTietHDB_HoaDonBan]
GO
ALTER TABLE [dbo].[ChiTietHDN]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDN_BinhGa] FOREIGN KEY([MaBinh])
REFERENCES [dbo].[BinhGa] ([MaBinh])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHDN] CHECK CONSTRAINT [FK_ChiTietHDN_BinhGa]
GO
ALTER TABLE [dbo].[ChiTietHDN]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDN_HoaDonNhap] FOREIGN KEY([SoHDN])
REFERENCES [dbo].[HoaDonNhap] ([SoHDN])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHDN] CHECK CONSTRAINT [FK_ChiTietHDN_HoaDonNhap]
GO
ALTER TABLE [dbo].[HoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBan_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HoaDonBan] CHECK CONSTRAINT [FK_HoaDonBan_KhachHang]
GO
ALTER TABLE [dbo].[HoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBan_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HoaDonBan] CHECK CONSTRAINT [FK_HoaDonBan_NhanVien]
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonNhap_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HoaDonNhap] CHECK CONSTRAINT [FK_HoaDonNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonNhap_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HoaDonNhap] CHECK CONSTRAINT [FK_HoaDonNhap_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_CaLam] FOREIGN KEY([MaCa])
REFERENCES [dbo].[CaLam] ([MaCa])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_CaLam]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_CongViec] FOREIGN KEY([MaCV])
REFERENCES [dbo].[CongViec] ([MaCV])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_CongViec]
GO
/****** Object:  StoredProcedure [dbo].[deleteBinhGa]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[deleteBinhGa]
@MaBinh NVARCHAR(20)
AS
DELETE FROM dbo.BinhGa WHERE MaBinh = @MaBinh
GO
/****** Object:  StoredProcedure [dbo].[deleteCaLam]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[deleteCaLam]
@MaCa NVARCHAR(20)
AS
DELETE FROM dbo.CaLam WHERE MaCa = @MaCa
GO
/****** Object:  StoredProcedure [dbo].[deleteCongViec]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[deleteCongViec]
@MaCV NVARCHAR(20)
AS
DELETE FROM dbo.CongViec WHERE MaCV = @MaCV
GO
/****** Object:  StoredProcedure [dbo].[deleteCTHDB]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[deleteCTHDB]
	@SoHDB nvarchar(20),
	@MaBinh nvarchar(20)
AS
BEGIN
	DELETE FROM dbo.ChiTietHDB WHERE SoHDB=@SoHDB and MaBinh=@MaBinh
END
GO
/****** Object:  StoredProcedure [dbo].[deleteCTHDN]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[deleteCTHDN]
	@SoHDN nvarchar(20),
	@MaBinh nvarchar(20)
AS
BEGIN
	DELETE FROM dbo.ChiTietHDN WHERE SoHDN=@SoHDN and MaBinh=@MaBinh
END
GO
/****** Object:  StoredProcedure [dbo].[deleteHDB]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[deleteHDB]
	@SoHDB nvarchar(20)
	
AS
BEGIN
	DELETE FROM dbo.HoaDonBan  WHERE SoHDB=@SoHDB
END
GO
/****** Object:  StoredProcedure [dbo].[deleteHDN]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[deleteHDN]
	@SoHDN nvarchar(20)
	
AS
BEGIN
	DELETE FROM dbo.HoaDonNhap  WHERE SoHDN=@SoHDN
END
GO
/****** Object:  StoredProcedure [dbo].[deleteKhachHang]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[deleteKhachHang]
@MaKH NVARCHAR(20)
AS
DELETE FROM dbo.KhachHang WHERE MaKH = @MaKH
GO
/****** Object:  StoredProcedure [dbo].[deleteKhoiLuong]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[deleteKhoiLuong]
@MaKL NVARCHAR(20)
AS
DELETE FROM dbo.KhoiLuong WHERE MaKL = @MaKL
GO
/****** Object:  StoredProcedure [dbo].[deleteLoaiGa]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[deleteLoaiGa]
@MaLoai NVARCHAR(20)
AS
DELETE FROM dbo.LoaiGa WHERE MaLoai = @MaLoai
GO
/****** Object:  StoredProcedure [dbo].[deleteMau]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[deleteMau]
@MaMau NVARCHAR(20)
AS
DELETE FROM dbo.Mau WHERE MaMau = @MaMau
GO
/****** Object:  StoredProcedure [dbo].[deleteNhaCungCap]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[deleteNhaCungCap]
@MaNCC NVARCHAR(20)
AS
DELETE FROM dbo.NhaCungCap WHERE MaNCC = @MaNCC
GO
/****** Object:  StoredProcedure [dbo].[deleteNhanVien]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROC [dbo].[deleteNhanVien]
@MaNV NVARCHAR(20)
AS
DELETE FROM NhanVien WHERE MaNV = @MaNV
GO
/****** Object:  StoredProcedure [dbo].[deleteNuocSX]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[deleteNuocSX]
@MaNSX NVARCHAR(20)
AS
DELETE FROM dbo.NuocSX WHERE MaNSX = @MaNSX
GO
/****** Object:  StoredProcedure [dbo].[DoanhThu_Thang]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DoanhThu_Thang](@Thang int,@Nam int)
as
begin
	select sum(hdb.TongTien)
	from HoaDonBan as hdb
	where Month(hdb.NgayBan)=@Thang and Year(hdb.NgayBan)=@Nam
end
GO
/****** Object:  StoredProcedure [dbo].[getAllBinhGa]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getAllBinhGa]
as
begin
	select * from BinhGa
end
GO
/****** Object:  StoredProcedure [dbo].[HD_TTN_NCC]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[HD_TTN_NCC](@MaNCC nvarchar(20),@Thang int,@Nam int)
as
begin
	select isnull(SoHDN,'Tong Tien') as SoHDN,hdn.MaNV,hdn.MaNCC,hdn.NgayNhap,SUM(hdn.TongTien) as Tien
	from HoaDonNhap as hdn
	where hdn.MaNCC=@MaNCC and Month(hdn.NgayNhap)=@Thang and Year(NgayNhap)=@Nam
	group by grouping sets((SoHDN,hdn.MaNV,hdn.MaNCC,hdn.NgayNhap),())
end
GO
/****** Object:  StoredProcedure [dbo].[insertBinhGa]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[insertBinhGa]
	@MaBinh nvarchar(20),
	@TenBinh nvarchar(50),
	@MaLoai nvarchar(20),
	@MaMau nvarchar(20),
	@MaKL int,
	@MaNSX nvarchar(20),
	@SoLUong int,
	@DonGiaBan bigint,
	@DonGiaNhap bigint,
	@ThoiGianBaoHanh int,
	@Anh image,
	@GhiChu nvarchar(255)
as
begin
	insert into BinhGa(MaBinh,TenBinh,MaKL,MaLoai,MaMau,MaNSX,SoLuong,DonGiaBan,DonGiaNhap,ThoiGianBaoHanh,Anh,GhiChu) 
	values (@MaBinh,@TenBinh,@MaKL,@MaLoai,@MaMau,@MaNSX,@SoLUong,@DonGiaBan,@DonGiaNhap,@ThoiGianBaoHanh,@Anh,@GhiChu)
end
GO
/****** Object:  StoredProcedure [dbo].[insertCaLam]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertCaLam]
	@MaCa nvarchar(20),
	@TenCa nvarchar(50)
	
as
begin
	insert into CaLam(MaCa,TenCa) values (@MaCa,@TenCa)
end
GO
/****** Object:  StoredProcedure [dbo].[insertCongViec]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertCongViec]
	@MaCV nvarchar(20),
	@TenCV nvarchar(50)
	
as
begin
	insert into CongViec(MaCV,TenCV) values (@MaCV,@TenCV)
end
GO
/****** Object:  StoredProcedure [dbo].[insertCTHDB]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertCTHDB]
	@SoHDB nvarchar(20),
	@MaBinh nvarchar(20),
	@SoLuong int,
	@GiamGia int,
	@ThanhTien bigint
as
begin
	insert into ChiTietHDB(SoHDB,MaBinh,SoLuong,GiamGia,ThanhTien) values (@SoHDB,@MaBinh,@SoLuong,@GiamGia,@ThanhTien)
end
GO
/****** Object:  StoredProcedure [dbo].[insertCTHDN]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertCTHDN]
	@SoHDN nvarchar(20),
	@MaBinh nvarchar(20),
	@SoLuong int,
	@DonGia bigint,
	@GiamGia int,
	@ThanhTien bigint
as
begin
	insert into ChiTietHDN(SoHDN,MaBinh,SoLuong,DonGia,GiamGia,ThanhTien) values (@SoHDN,@MaBinh,@SoLuong,@DonGia,@GiamGia,@ThanhTien)
end
GO
/****** Object:  StoredProcedure [dbo].[insertHDB]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[insertHDB]
	@SoHDB nvarchar(20),
	@MaNV nvarchar(20),
	@NgayBan date,
	@MaKH nvarchar(20),
	@TongTien bigint
as
begin
	insert into HoaDonBan(SoHDB,MaNV,NgayBan,MaKH,TongTien) values (@SoHDB,@MaNV,@NgayBan,@MaKH,@TongTien)
end
GO
/****** Object:  StoredProcedure [dbo].[insertHDN]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertHDN]
	@SoHDN nvarchar(20),
	@MaNV nvarchar(20),
	@NgayNhap date,
	@MaNCC nvarchar(20),
	@TongTien bigint
as
begin
	insert into HoaDonNhap(SoHDN,MaNV,NgayNhap,MaNCC,TongTien) values (@SoHDN,@MaNV,@NgayNhap,@MaNCC,@TongTien)
end
GO
/****** Object:  StoredProcedure [dbo].[insertKH]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertKH]
	@MaKH nvarchar(20),
	@TenKH nvarchar(50),
	@DiaChi nvarchar(255),
	@DienThoai nvarchar(20)
as
begin
	insert into KhachHang(MaKH,TenKH,DiaChi,DienThoai) values (@MaKH,@TenKH,@DiaChi,@DienThoai)
end
GO
/****** Object:  StoredProcedure [dbo].[insertKhoiLuong]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[insertKhoiLuong]
	@MaKL int
as
begin
	insert into KhoiLuong(MaKL) values (@MaKL)
end
GO
/****** Object:  StoredProcedure [dbo].[insertLoaiGa]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertLoaiGa]
	@MaLoai nvarchar(20),
	@TenLoai nvarchar(50)
	
as
begin
	insert into LoaiGa(MaLoai,TenLoai) values (@MaLoai,@TenLoai)
end
GO
/****** Object:  StoredProcedure [dbo].[insertMau]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertMau]
	@MaMau nvarchar(20),
	@TenMau nvarchar(50)
	
as
begin
	insert into Mau(MaMau,TenMau) values (@MaMau,@TenMau)
end
GO
/****** Object:  StoredProcedure [dbo].[insertNCC]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertNCC]
	@MaNCC nvarchar(20),
	@TenNCC nvarchar(50),
	@DiaChi nvarchar(255),
	@DienThoai nvarchar(20)
as
begin
	insert into NhaCungCap(MaNCC,TenNCC,DiaChi,DienThoai) values (@MaNCC,@TenNCC,@DiaChi,@DienThoai)
end
GO
/****** Object:  StoredProcedure [dbo].[insertNhanVien]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertNhanVien]
	@MaNV nvarchar(20),
	@TenNV nvarchar(50),
	@GioiTinh nvarchar(5),
	@NgaySinh date,
	@DiaChi nvarchar(255),
	@DienThoai nvarchar(20),
	@MaCa nvarchar(20),
	@MaCV nvarchar(20)
as
begin
	insert into NhanVien(MaNV,TenNV,GioiTinh,NgaySinh,DiaChi,DienThoai,MaCa,MaCV) values (@MaNV,@TenNV,@GioiTinh,@NgaySinh,@DiaChi,@DienThoai,@MaCa,@MaCV)
end
GO
/****** Object:  StoredProcedure [dbo].[insertNSX]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertNSX]
	@MaNSX nvarchar(20),
	@TenNSX nvarchar(50)
	
as
begin
	insert into NuocSX(MaNSX,TenNSX) values (@MaNSX,@TenNSX)
end
GO
/****** Object:  StoredProcedure [dbo].[insertTaiKhoan]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertTaiKhoan]
	@TaiKhoan varchar(20),
	@MatKhau varchar(50),
	@Status int,
	@Quyen nvarchar(20),
	@TenNguoiDung nvarchar(30),
	@Email nvarchar(100)
	
as
begin
	insert into TaiKhoan(TaiKhoan,MatKhau,Status,Quyen,Email,TenNguoiDung) values (@TaiKhoan,@MatKhau,@Status,@Quyen,@Email,@TenNguoiDung)
end
GO
/****** Object:  StoredProcedure [dbo].[KH_Thang]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[KH_Thang](@Thang int,@Nam int)
as
begin
	select distinct kh.MaKH,kh.TenKH,kh.DienThoai,kh.DiaChi
	from HoaDonBan as hdb,KhachHang as kh
	where hdb.MaKH=kh.MaKH and Month(hdb.NgayBan)=@Thang and Year(hdb.NgayBan)=@Nam
end
GO
/****** Object:  StoredProcedure [dbo].[NV_Thang]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[NV_Thang](@Thang int,@Nam int)
as
begin
	select nv.MaNV,nv.TenNV,nv.GioiTinh,nv.GioiTinh,nv.DienThoai,nv.DienThoai
	from HoaDonBan as hdb,NhanVien as nv
	where hdb.MaNV=nv.MaNV and Month(hdb.NgayBan)=@Thang and Year(hdb.NgayBan)=@Nam
end
GO
/****** Object:  StoredProcedure [dbo].[searchKH]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[searchKH](@maKH nvarchar(20))
as
begin
	select * from KhachHang where MaKH=@maKH
end
GO
/****** Object:  StoredProcedure [dbo].[showAllCaLam]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[showAllCaLam]
as
begin
	select * from CaLam
end
GO
/****** Object:  StoredProcedure [dbo].[showAllCongViec]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[showAllCongViec]
as
begin
	select * from CongViec
end
GO
/****** Object:  StoredProcedure [dbo].[showAllCTHDB]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[showAllCTHDB]
as
begin
	select * from ChiTietHDB
end
GO
/****** Object:  StoredProcedure [dbo].[showAllCTHDN]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[showAllCTHDN]
as
begin
	select * from ChiTietHDN
end
GO
/****** Object:  StoredProcedure [dbo].[showAllHDB]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[showAllHDB]
as
begin
	select * from HoaDonBan
end
GO
/****** Object:  StoredProcedure [dbo].[showAllHDN]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[showAllHDN]
as
begin
	select * from HoaDonNhap
end
GO
/****** Object:  StoredProcedure [dbo].[ShowAllHDN_CTHDN]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ShowAllHDN_CTHDN]
as
begin
	select hdn.SoHDN,hdn.MaNV,hdn.NgayNhap,hdn.MaNCC,hdn.TongTien,MaBinh from HoaDonNhap as hdn,ChiTietHDN as ct
	where hdn.SoHDN = ct.SoHDN
end
GO
/****** Object:  StoredProcedure [dbo].[showAllKhachHang]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[showAllKhachHang]
as
begin
	select * from KhachHang
end
GO
/****** Object:  StoredProcedure [dbo].[showAllKhoiLuong]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[showAllKhoiLuong]
as
begin
	select * from KhoiLuong
end
GO
/****** Object:  StoredProcedure [dbo].[showAllLoaiGa]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[showAllLoaiGa]
as
begin
	select * from LoaiGa
end
GO
/****** Object:  StoredProcedure [dbo].[showAllMau]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[showAllMau]
as
begin
	select * from Mau
end
GO
/****** Object:  StoredProcedure [dbo].[showAllNCC]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[showAllNCC]
as
begin
	select * from NhaCungCap
end
GO
/****** Object:  StoredProcedure [dbo].[showAllNhanVien]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[showAllNhanVien]
as
begin
	select * from NhanVien
end
GO
/****** Object:  StoredProcedure [dbo].[showAllNSX]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[showAllNSX]
as
begin
	select * from NuocSX
end
GO
/****** Object:  StoredProcedure [dbo].[showAllTaiKhoan]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[showAllTaiKhoan]
as
begin
	select * from TaiKhoan
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Cau8]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[sp_Cau8]
 @SoHDB NVARCHAR(50),
 @MaNV NVARCHAR(50),
 @NgayBan NVARCHAR(50),
 @MaKH NVARCHAR(50)
 AS
 BEGIN TRAN
	BEGIN TRY
    INSERT INTO dbo.tHoaDonBan
    (
        SoHDB,
        MaNV,
        NgayBan,
        MaKH
    )
    VALUES
    (   @SoHDB,   -- SoHDB - nvarchar(10)
        @MaNV,    -- MaNV - nvarchar(10)
        @NgayBan, -- NgayBan - datetime
        @MaKH     -- MaKH - nvarchar(10)
        );
    COMMIT TRAN;
END TRY
BEGIN CATCH
    RAISERROR(N'Sai kiểu dữ liệu', 2, 1);
    ROLLBACK;
END CATCH;
GO
/****** Object:  StoredProcedure [dbo].[SP_NV]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[SP_NV](@MaNV nvarchar(20))
as
begin
	select top(3) with ties bg.MaBinh,bg.TenBinh,bg.MaLoai,bg.MaMau,bg.MaKL,bg.MaNSX,bg.DonGiaBan,bg.DonGiaNhap,bg.GhiChu
	from BinhGa as bg,HoaDonBan as hdb, ChiTietHDB as cthdb,NhanVien as nv
	where bg.MaBinh=cthdb.MaBinh and cthdb.SoHDB=hdb.SoHDB and hdb.MaNV=nv.MaNV and nv.MaNV=@MaNV
	group by bg.MaBinh,bg.TenBinh,bg.MaLoai,bg.MaMau,bg.MaKL,bg.MaNSX,bg.DonGiaBan,bg.DonGiaNhap,bg.GhiChu
	order by sum(cthdb.SoLuong) asc
end
GO
/****** Object:  StoredProcedure [dbo].[sp_SPBanChayNhat]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SPBanChayNhat]
@Truoc INT,
@Sau INT
AS
BEGIN
	SELECT cth.MaHang,SUM(cth.SoLuong) FROM dbo.tblChiTietHDBan cth,dbo.tblHDBan hd,dbo.tblHangHoa hh
	WHERE (MONTH(hd.NgayBan) BETWEEN @Truoc AND @Sau) AND cth.SoHDB = hd.SoHDB AND cth.MaHang = hh.MaHang
	GROUP BY cth.MaHang
	HAVING SUM(cth.SoLuong) =
	(
		SELECT TOP 1 SUM(cth.SoLuong) FROM dbo.tblChiTietHDBan cth,dbo.tblHDBan hd 
		WHERE cth.SoHDB = hd.SoHDB
		GROUP BY cth.MaHang
		ORDER BY SUM(cth.SoLuong) DESC
	)
END
GO
/****** Object:  StoredProcedure [dbo].[updateBinhGa]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateBinhGa]
	@MaBinh NVARCHAR(20),
    @TenBinh NVARCHAR(50),
    @MaLoai NVARCHAR(20),
    @MaMau NVARCHAR(20),
    @MaKL NVARCHAR(20),
    @MaNSX NVARCHAR(20),
    @SoLuong int,
    @DonGiaNhap float,
    @DonGiaBan float,
    @ThoiGianBaoHanh NVARCHAR(50),
    @Anh image,
    @GhiChu NVARCHAR(255)
AS
BEGIN
    UPDATE dbo.BinhGa SET
	TenBinh = @TenBinh,
	MaLoai = @MaLoai,
	MaMau = @MaMau,
	MaKL = @MaKL,
	MaNSX = @MaNSX,
	SoLuong = @SoLuong,
	DonGiaNhap = @DonGiaNhap,
	DonGiaBan = @DonGiaBan,
	ThoiGianBaoHanh = @ThoiGianBaoHanh,
	Anh = @Anh,
	GhiChu = @GhiChu
	WHERE MaBinh = @MaBinh
END

GO
/****** Object:  StoredProcedure [dbo].[updateCaLam]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateCaLam]
@MaCa NVARCHAR(20),
@TenCa NVARCHAR(50)
AS
UPDATE dbo.CaLam SET
TenCa = @TenCa WHERE MaCa = @MaCa
GO
/****** Object:  StoredProcedure [dbo].[updateCongViec]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateCongViec]
	@MaCV NVARCHAR(20),
    @TenCV NVARCHAR(50)
AS
BEGIN
    UPDATE dbo.CongViec SET
    TenCV = @TenCV
	WHERE MaCV = @MaCV
END
GO
/****** Object:  StoredProcedure [dbo].[updateCTHDB]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateCTHDB]
	@SoHDB nvarchar(20),
	@MaBinh nvarchar(20),
	@SoLuong int,
	@GiamGia int,
	@ThanhTien BIGINT
AS
BEGIN
	UPDATE dbo.ChiTietHDB SET MaBinh=@MaBinh,SoLuong=@SoLuong,GiamGia=@GiamGia,ThanhTien=@ThanhTien WHERE SoHDB=@SoHDB
END
GO
/****** Object:  StoredProcedure [dbo].[updateCTHDN]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateCTHDN]
	@SoHDN nvarchar(20),
	@MaBinh nvarchar(20),
	@SoLuong int,
	@DonGia bigint,
	@GiamGia int,
	@ThanhTien bigint
AS
BEGIN
	UPDATE dbo.ChiTietHDN SET MaBinh=@MaBinh,SoLuong=@SoLuong,DonGia=@DonGia,GiamGia=@GiamGia,ThanhTien=@ThanhTien WHERE SoHDN=@SoHDN
END
GO
/****** Object:  StoredProcedure [dbo].[updateHDB]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updateHDB]
	@SoHDB nvarchar(20),
	@MaNV nvarchar(20),
	@NgayBan date,
	@MaKH nvarchar(20),
	@TongTien bigint
as
begin
	UPDATE dbo.HoaDonBan SET MaNV=@MaNV,NgayBan=@NgayBan,MaKH=@MaKH,TongTien=@TongTien WHERE SoHDB=@SoHDB
end
GO
/****** Object:  StoredProcedure [dbo].[updateHDN]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateHDN]
	@SoHDN nvarchar(20),
	@MaNV nvarchar(20),
	@NgayNhap date,
	@MaNCC nvarchar(20),
	@TongTien bigint
AS
BEGIN
	UPDATE dbo.HoaDonNhap SET MaNV=@MaNV,NgayNhap=@NgayNhap,MaNCC=@MaNCC,TongTien=@TongTien WHERE SoHDN=@SoHDN
END
GO
/****** Object:  StoredProcedure [dbo].[updateKhachHang]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateKhachHang]
	@MaKH NVARCHAR(20),
    @TenKH NVARCHAR(50),
    @DiaChi NVARCHAR(255),
    @DienThoai NVARCHAR(20)
AS
BEGIN
    UPDATE dbo.KhachHang SET
    TenKH = @TenKH,
    DiaChi=  @DiaChi,
    DienThoai = @DienThoai
	WHERE MaKH = @MaKH
END
GO
/****** Object:  StoredProcedure [dbo].[updateLoaiGa]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateLoaiGa]
@MaLoai NVARCHAR(20),
@TenLoai NVARCHAR(50)
AS
UPDATE dbo.LoaiGa SET
TenLoai = @TenLoai WHERE MaLoai = @MaLoai
GO
/****** Object:  StoredProcedure [dbo].[updateMau]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateMau]
@MaMau NVARCHAR(20),
@TenMau NVARCHAR(50)
AS
UPDATE dbo.Mau SET
TenMau = @TenMau WHERE MaMau = @MaMau
GO
/****** Object:  StoredProcedure [dbo].[updateNhaCungCap]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateNhaCungCap]
	@MaNCC NVARCHAR(20),
    @TenNCC NVARCHAR(50),
    @DiaChi NVARCHAR(255),
    @DienThoai NVARCHAR(20)
AS
BEGIN
    UPDATE dbo.NhaCungCap SET
    TenNCC = @TenNCC,
    DiaChi = @DiaChi,
    DienThoai = @DienThoai
	WHERE MaNCC = @MaNCC
END
GO
/****** Object:  StoredProcedure [dbo].[updateNhanVien]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateNhanVien]
	@MaNV NVARCHAR(20),
    @TenNV NVARCHAR(50),
    @GioiTinh NVARCHAR(5),
    @NgaySinh date,
    @DienThoai NVARCHAR(20),
    @DiaChi NVARCHAR(255),
    @MaCa NVARCHAR(20),
    @MaCV NVARCHAR(20)
AS
BEGIN
    UPDATE dbo.NhanVien SET
    TenNV = @TenNV,
    GioiTinh = @GioiTinh,
    NgaySinh = @NgaySinh,
    DienThoai = @DienThoai,
    DiaChi = @DiaChi,
    MaCa = @MaCa,
    MaCV = @MaCV
	WHERE MaNV = @MaNV
END
GO
/****** Object:  StoredProcedure [dbo].[updateNuocSX]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateNuocSX]
@MaNSX NVARCHAR(20),
@TenNSX NVARCHAR(50)
AS
UPDATE dbo.NuocSX SET
TenNSX = @TenNSX WHERE MaNSX = @MaNSX
GO
/****** Object:  Trigger [dbo].[updateSLBinhGaBan]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[updateSLBinhGaBan] on [dbo].[ChiTietHDB]
for insert,update,delete
as
begin
	declare @SoLuongIN int,@SoLuongOUT int,@SoLuong int, @maBinh nvarchar(20)
	set @SoLuongIN=0
	set @SoLuongOUT=0
	if exists(select * from inserted)
		select @maBinh=maBinh,@SoLuongIN=SoLuong from inserted
	if exists(select * from deleted)
		select @maBinh=maBinh, @SoLuongOUT=SoLuong from deleted
	select @SoLuong=SoLuong from BinhGa where MaBinh=@MaBinh
	update BinhGa set SoLuong=@SoLuong-@SoLuongIN+@SoLuongOUT where MaBinh=@maBinh
end
GO
ALTER TABLE [dbo].[ChiTietHDB] ENABLE TRIGGER [updateSLBinhGaBan]
GO
/****** Object:  Trigger [dbo].[updateSLBinhGa]    Script Date: 12/3/2020 3:17:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[updateSLBinhGa] on [dbo].[ChiTietHDN]
for insert,update,delete
as
begin
	declare @SoLuongIN int,@SoLuongOUT int,@SoLuong int,@maBinh nvarchar(20),@DonGia bigint,@SoHDN nvarchar(20)
	set @SoLuongIN=0
	set @SoLuongOUT=0
	if exists(select * from inserted)
		select @SoHDN=SoHDN,@maBinh=MaBinh,@SoLuongIN=isNull(SoLuong,0),@DonGia=DonGia from inserted
	if exists(select * from deleted)
		select @maBinh=MaBinh, @SoLuongOUT=SoLuong from deleted
	select @SoLuong=SoLuong from BinhGa where MaBinh=@maBinh
	update BinhGa set SoLuong=@SoLuong+@SoLuongIN-@SoLuongOUT, DonGiaNhap=@DonGia,DonGiaBan=@DonGia*1.1 where MaBinh=@maBinh
end
GO
ALTER TABLE [dbo].[ChiTietHDN] ENABLE TRIGGER [updateSLBinhGa]
GO
